{% extends "interface/section_base.html" %}
{% load i18n %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ basepath }}/static/css/splash.css" />
{% endblock %}

{% block sectiontitle %}
	{% trans 'Authentication' %}
{% endblock %}


{% block sectioncontent %}
<div>
	<section class="row login-box">
		<div id="login" class="col-md-6">
		{% if form.errors %}
				<p class="text-danger error">
					{% trans "Your username and password didn't match. Please try again." %}
				</p>
		{% endif %}
                {% include 'registration/login_include.html' %}
                </div>
	</section>

</div>
{% endblock %}
