{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{config_title}}</title>
	<link rel="stylesheet" href="{{ basepath }}/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ basepath }}/static/css/splash.css" />
</head>
<body>
	<div id="container">
        <div id="logo"></div>

        <div class="title">
            {% include 'messages.html' %}
            <h3>{{ config_title }}</h3>
		</div>

		<section class="row login-box">
			<div class="about col-md-7">
	            <p>
	                {% autoescape off %}
	                	{{config_intro}}
	                {% endautoescape %}
				</p>
			</div>
                        <div id="login" class="col-md-5">
                            {% include 'registration/login_include.html' %}
                        </div>
		</section>
	</div>

	{% autoescape off %}
    {{ config_hidden_footer }}
	{% endautoescape %}
</body>
</html>
